@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  margin-top: 14px;
  align-items: center;
}

.innerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 60px 60px 60px;
  margin: 5px;
  justify-content: flex-start;
  background-color: rgba(12, 12, 12, 0.6);
  border-radius: 15px;
}

.innerContent h1 {
  color: var(--color-text);
  font-size: 25px;
  padding: 30px;
  font-family: var(--font-roboto);
}

.skills {
  width: max-content;
  display: flex;
  flex-direction:row;
  flex-wrap: nowrap;
  gap: 37px;
  justify-content: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  background-color: var(--color-secondary);
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  width: 75px;
}

.skill p {
  font-size: 25px;
  font-family: var(--font-roboto);
  font-weight: 500;
}

@media screen and (max-width: 1440px) {


.skillImageContainer{
  width: 100px;
  height: 100px;
}

}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .innerContent{
    width: 90%;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {

  .content{
    gap: 0;
  }

  .innerContent{
    padding: 0 40px 40px 40px;
    margin: 5px;
  }

  .innerContent h1 {
    font-size: 20px;
  }

  .skill p{
    font-size: 15px;
  }

  .skillImageContainer{
    width: 50px;
    height: 50px;
  }

  .skillImageContainer img{
    width: 90%;
  }

}
